{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">#{{ hashtag }}</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none">
                    <div class="card post-card h-100">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Post image" style="height: 200px; object-fit: cover;">
                        <div class="card-body p-2">
                            <div class="d-flex justify-content-between text-muted">
                                <span><i class="far fa-heart"></i> {{ post.likes.count }}</span>
                                <span><i class="far fa-comment"></i> {{ post.comments.count }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="col text-center">
                <p class="text-muted">Aucune publication avec ce hashtag</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 